.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;


}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    color: rgb(58, 58, 58);
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#waterTankSVG {
    margin-top: 20px;
    display: block;
    width: 100%;
}

#resultOutput {
    margin-top: 20px;
    padding: 15px;
    background-color: #d4edda00;
    color: #304e37c5;
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 4px;
}