@use '../../styles/variables' as *;

.column {
  border-radius: $radius-lg;
  padding: $spacing-3;
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  box-shadow: none;


}

.column__header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: $spacing-2;
  padding: 0 $spacing-1;

  h3 {

    font-weight: 500 !important;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -7px;
      transform: translateY(-50%);
      width: 3px;
      height: 18px;
      background: #cfbf0ccb;
    }
  }
}

.column__count {
  width: 23px;
  height: 23px;
  border-radius: 999px;
  display: inline-grid;
  place-items: center;
  background: #464646;
  color: rgb(238, 238, 238);
  font-weight: 600;
  font-size: 15px;
}

.column__list {
  display: flex;
  flex-direction: row;
  gap: $spacing-3;
  flex-wrap: wrap;
}

.column__empty {
  color: $muted;
  text-align: center;
  margin: $spacing-4 0;
}